
#cardDisplay {

}

#content {
	margin: 1em 2em;
}

#menu {
	background-color: #1a53ff;
	box-shadow: 0px 3px 5px #b3b3b3;
	margin-bottom: .25em;
}

/* tags */


nav {
	float: right;
	padding-right: 1em;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

h1, h2, h3, p {
	font-family: Roboto;
}

h1 {
	font-weight: 900;
	color: #fff;
	margin: auto;
	text-transform: none;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
	font-size: 1.2em;
	color: #333333;
}

p{
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
}

button {
	margin: auto;
}

footer {
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	color: #595959;
	height: 3em;
	background-color: #f2f2f2;
	box-shadow: 1px 0px 5px #b3b3b3;
	position: sticky;
	bottom: 0;
	margin: 0;
}

footer p {
	line-height: 3em;
}

img {
	min-height: 5em;
	min-width: 5em;
	max-height: 15em;
	max-width: 15em;
	height: 10em;
	width: 10em;
	margin: auto;
	padding: 1em;
	vertical-align: middle;
	align-content: auto;
	display: block;
}

button:hover {
	opacity: 0.9;
}

/* classes */

.title {
	float: left;
	padding-left: 1em;
	padding-bottom: 1em;
}

.controls {
	text-align: center;
	background-color: #f2f2f2;
	padding: .5em;
	box-shadow: inset 2px 0px 6px 3px #e6e6e6;
}

.control {
	background-color: #ff0066;
	color: #fff;
}

.reset {
	border: 1px solid #cccccc;
	box-sizing: border-box;
	margin-left: .15em;
}

.copy {
	min-height: 5em;
	margin: 1em 2em;
}

.image {
	background-color: #ff8080;
	min-height: 12em;
}

.card {
	border: 1px solid #e6e6e6;
	background-color: #fff;
	border-radius: 8px;
	display: inline-block;
	min-height: 25em;
	padding: 1.3em 1.3em;
	box-sizing: border-box;
	margin: 2em 1em;
	box-shadow: 0px 2px 4px 2px #f2f2f2;
	transition: all 0.3s ease-in-out;
}

.heroText {
	text-align: center;
	vertical-align: middle;
	display: block;
	margin: auto;
	padding: 8em 2em;
}

.hero {
	border: 1px solid #e6e6e6;
	border-radius: 8px;
	min-height: 20em;
	background-color: #66b3ff;
	background-image: url(../images/MDGA.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	color: #000;
	margin: 2em 1em;
	padding: 0em 3em;
	box-shadow: 0px 2px 4px 2px #f2f2f2;
}

.heroTitle {
	text-align: center;
	position: relative;
	top: 5em;
}

/* pure-css class changes */
.pure-button {
	margin-bottom: 1em;
	font-family: Roboto;
}

.pure-button-primary {
	position: relative;
    margin-top: 1em;
    vertical-align: center;
    background-color: #1a53ff;
}

.pure-button-disabled {
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
	margin-top: .5em;
}

.pure-form {
	margin: 1em 2em;
}

.pure-u-md-1-3 {
	margin-top: .5em;
	margin-right: .5em;
}

/* class additions for section pages */
.theCause {
	background-image: url(../images/the-cause.png);
}

.initiatives {
	background-image: url(../images/initiatives.png);
}

.mantra {
	background-image: url(../images/mantra.png);
}


/* responsive menu css */
      .custom-wrapper {
          background-color: #0039e6;
          margin-bottom: 0;
          -webkit-font-smoothing: antialiased;
          height: 3em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }
      
      .custom-wrapper.open {
          height: 13em;
      }
      
      .custom-menu-3 {
          text-align: right;
      }
      
      .custom-toggle {
          width: 34px;
          height: 34px;
          position: absolute;
          top: .5em;
          right: .5em;
          display: none;
      }
      
      .custom-toggle .bar {
          background-color: #fff;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }
      
      .custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }
      
      .custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      
      .custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

      .pure-menu-list {
      	float: right;
      }

      .pure-menu-item {
      	line-height: 2em;
      }

      .pure-menu-link:hover {
      	background-color: #0039e6;

      }

      .pure-menu-link {
		font-weight: 400;
		font-family: Roboto;
		font-size: 1em;
		color: #fff;
		}

/* media queries */
	/* large viewports */
	@media (min-width: 64em) {
		/* card hover effects */
		.card:hover, .card:active, .card:focus {
			  box-shadow: 0px 4px 10px 4px #e6e6e6;
			  transition: all 0.3s ease-in-out;
			  transform: scale(1.02, 1.02);
		}

		.card:after {
			  box-shadow: 0px 4px 10px 4px #e6e6e6;
			  transition: opacity 0.3s ease-in-out;
		}

		.card:hover::after, .card:focus::after, .card:active::after {
		    opacity: 1;
		}

		.heroText {
			transition: .5s ease;
			opacity: 0;
		}

		.hero {
			transition: all 0.3s ease-in-out;
		}

		.hero:hover, .hero:active, .hero:focus {
			  box-shadow: 0px 4px 10px 4px #e6e6e6;
			  transition: all 0.3s ease-in-out;
			  transform: scale(1.01, 1.01);
		}

		.hero:hover .heroText, .hero:active .heroText, .hero:focus .heroText {
			opacity: 1;
		}

		.hero:after {
			  box-shadow: 0px 4px 10px 4px #e6e6e6;
			  transition: opacity 0.3s ease-in-out;
		}

		.hero:hover::after, .hero:active::after, .hero:focus::after {
		    opacity: 1;
		}

	}

      @media (max-width: 47.999em) {
		/* changes to nav menu element for mobile */
          .custom-menu-3 {
              text-align: left;
          }
      
          .custom-toggle {
              display: block;
          }
			      
      }

/* changes to elements on small/phone breakpoints */
      @media (max-width: 35.5em) {
      	
			h1 {
				font-size: 1.5em;
				line-height: 1.5em;
			}
			.hero {
				background-repeat: repeat-y;
				min-height: 8em;
			}

			.theCause, .initiatives, .mantra {
				background-repeat: no-repeat;
			}
      }